html {
    background: url("Images/ClashBackground.webp") center no-repeat fixed;
    background-size: cover;
}

body {
    background: rgba(255, 255, 255, 0.5);
    width: 900px;
    padding: 50px 100px;
    margin: 25px auto;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center
}

#body2 {
    background: rgba(255, 255, 255, 0.5);
    width: 500px;
    padding: 50px 100px;
    margin: 25px auto;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center
}

#body3 {
    background: rgba(255, 255, 255, 0.5);
    width: 500px;
    padding: 50px 100px;
    margin: 25px auto;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left
}

h1 {
    font-size: 30px;
    text-align: center;
}

#RoyalRecruitsCard {
    width: 205px;
}

#RoyalHogsCard {
    width: 200px;
}

#ZappiesCard {
    width: 211px;
}

#FireballCard {
    width: 207px;
}

#IceSpiritCard {
    width: 204.1238969px;
}

#GoblinCageCard {
    width: 200px;
}

#FlyingMachineCard {
    width: 200px;
}

#BarbarianBarrelCard {
    width: 200px;
}

div {
    word-spacing: 10px;
    text-align: center;
}

#ZappiesGettingFireballed {
    border-radius: 25px;
    width: 250px;
    height: 263px;
}

#FireBallCard2 {
    width: 80px;
}

#LightningCard {
    width: 80px;
}

#RocketCard {
    width: 80px;
}

#PoisonCard {
    width: 75.6px;
}

#SplitLanePush {
    border-radius: 25px;
    width: 250px;
    height: 263px;
}

#RoyalRecruitsCard2 {
    width: 80px;
}

#RoyalHogsCard2 {
    width: 76px;
}

#ZappiesCard2 {
    width: 80px;
}

#MagicArcherGettingPoisoned {
    border-radius: 25px;
    width: 250px;
    height: 263px;
}

#MagicArcherCard {
    width: 76px;
}

#FlyingMachineCard2 {
    width: 76px;
}